{% extends 'home/user.html' %}
{% block content %}
<form action="save/" method="POST">
    <div class="form-group">
        <label><b>Email</b></label>
        <input type="text" value="{{Contact.Email}}" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label><b>Address</b></label>
        <textarea name="address" class="form-control" rows="3">{{Contact.Location}}</textarea>
    </div>
    <div class="form-group">
        <label><b>Phone Number</b></label>
        <input type="text" value="{{Contact.PhoneNumber}}" name="phone" class="form-control">
    </div>
    {% csrf_token %}
    <button type="submit">Save Contact Info</button>
</form>
{% endblock %}