{% extends 'home/user.html' %}
{% block content %}
<h1 class="text-center">Profile</h1>
<div class="row">
    
    <div class="card mb-3 col-12">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{profile.ProfilePic}}" class="card-img" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{profile.FullName}}</h5>
                    <p class="card-text"><b>About</b><br>{{profile.About}}</p>
                    <p class="card-text text-muted">{{profile.RollNumber}}, {{profile.Program}}, {{profile.Department}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<h1 class="text-center">Projects</h1>
    {% for project in projects %}
    <div class="row">
        <div class="card mb-3 col-12">
            <div class="card-body">
                <h5 class="card-title">{{project.Title}}</h5>
                <p class="card-text"><b>About</b><br>{{project.AboutProject}}</p>
                <p class="card-text"><b>Mentors</b><br>{{project.Mentor}}</p>
                <a href="/home/projects/{{project.id}}/" target="_blank" class="btn btn-primary">View Project</a>
                <a href="/home/projects/{{project.id}}/delete/" class="btn btn-danger">Delete Project</a>
            </div>
        </div>
    </div>
    {% endfor%}
{% endblock %}