{% extends "base_generic.html"%}
{% block content %}

<a href="{% url 'course:add_course'%}"><p class="options">Add Group</p></a>

<div class="row">
{% for group in GroupDetails %}

    <div class="col-xs-12 col-sm-6 col-md-4 col-ld-3" style="margin-bottom:25px;">
      <div class = "card">

      <div class="card-body">
        <h5 class="card-title">{{ group.GroupID }}</h5>
      </div>
        <div class="card-footer"><a href="#" class="card-link">Discussion Group Link</a></div>
      </div>
    </div>

{% endfor %}
  
</div>
{% endblock %}
