{% extends "base_generic.html"%}

{% block sidebar %}
  
  {% if Designation == 'Faculty' %}

  <li>
    <a href="{% url 'course:update_grp' cinfo aid gid %}">Update Details</a>
  </li>
      <li>
    <a href="{% url 'course:update_attendance' cinfo aid gid %}">Update Attendance</a>
  </li>
  <li>
    <a href="{% url 'course:add_grade' cinfo aid gid %}">Add Grade</a>
  </li>
  {% endif %}
  <li>
    <a href="{% url 'course:up_submission' cinfo aid gid %}">Submissions</a>
  </li>

    <li>
    <a href="{% url 'course:view_assgn' cinfo aid%}">Groups</a>
  </li>
    <li>
    <a href="{% url 'course:view_course' cinfo %}">Assignments</a>
  </li>
  <li>
    <a href="{% url 'discussion:events' cinfo %}">Events</a>
  </li>
  <li>
    <a href="{% url 'discussion:notice_board' cinfo %}">Noticeboard</a>
  </li>
  <li>
    <a href="{% url 'discussion:course_group' cinfo 1 %}">Discussion Room</a>
  </li>
  
{% endblock %}


{% block content %}
<form method="POST">
    {% csrf_token %}
    {% for student in studentinfo %}
    <div class="jumbotron">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name = "checks[]" value = {{student.Username}} id = "{{student.Username}}">
        <label class="form-check-label" for="{{student.Username}}">{{student.Username}}</label>
      </div>
   </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Update Attendance</button>
</form>



{% endblock %}
