{% extends "base_generic.html"%}

{% block sidebar %}
  <li>
    <a href="#">Set Deadline</a>
  </li>
  <li>
    <a href="#">Grading</a>
  </li>
  <li>
    <a href="#">Manually Form Group</a>
  </li>
  <li>
    <a href="#">Randomly Allocate Groups</a>
  </li>
  <li>
    <a href="#">View Submissions</a>
  </li>
{% endblock %}

{% block content %}

{% comment %} <a href="{% url 'course:add_course'%}"><p class="options">Add Group</p></a> {% endcomment %}

<div class="row">
{% for group in GroupDetails %}

    <div class="col-xs-12 col-sm-6 col-md-4 col-ld-3" style="margin-bottom:25px;">
      <div class = "card">

      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'course:view_group' cinfo aid group.GroupID %}">{{ group.GroupID }}</a></h5>
        <a href="{% url 'course:update_attendance' cinfo aid group.GroupID %}"><button class="btn btn-success">Update Attandance</button></a>
        <a href="{% url 'course:add_grade' cinfo aid group.GroupID %}"><button class="btn btn-success">Add Grade</button></a>
      </div>
        <div class="card-footer"><a href="#" class="card-link">Discussion Group Link</a></div>
      </div>
    </div>

{% endfor %}

</div>
{% endblock %}
