{% extends "base_generic.html"%}

{% block sidebar %}
  {% if Designation == 'Faculty' %}
  <li>
    <a href="#">Set Deadline</a>
  </li>
  <li>
    <a href="#">Grading</a>
  </li>
  <li>
    <a href="#">Manually Form Group</a>
  </li>
  <li>
    <a href="{% url 'course:random_groups' cinfo aid %}">Randomly Allocate Groups</a>
  </li>
  <li>
    <a href="#">Submissions</a>
  </li>
  {% endif %}
  <li>
    <a href="{% url 'discussion:events' cinfo %}">Events</a>
  </li>
  <li>
    <a href="{% url 'discussion:notice_board' cinfo %}">Noticeboard</a>
  </li>
  <li>
    <a href="{% url 'discussion:course_group' cinfo 1 %}">Discussion Room</a>
  </li>
{% endblock %}

{% block content %}

{% comment %} <a href="{% url 'course:add_course'%}"><p class="options">Add Group</p></a> {% endcomment %}

<ul class="cards">
{% for group in GroupDetails %}

    <li class="card__item">
      <div class = "card">
      <div class="card__content">
        <div class="card__title"><a href="{% url 'course:view_group' cinfo aid group.GroupID %}">{{ group.GroupID }}</a></div>
        <a href="{% url 'course:update_attendance' cinfo aid group.GroupID %}"><button class="btn btn--block card_btn">Update Attandance</button></a>
        <a href="{% url 'course:add_grade' cinfo aid group.GroupID %}"><button class="btn btn--block card_btn">Add Grade</button></a>
        <a href="{% url 'discussion:group' cinfo aid group.GroupID %}" class="card-link"><button class="btn btn--block card_btn">Discussion Group Link</button></a>
      </div>
      </div>
    </li>

{% endfor %}
</ul>
{% endblock %}
