{% extends "base_generic.html"%}
{% block content %}
<a href="{% url 'course:update_grp' CourseInfo AssgnInfo GroupDetails.GroupID %}"><p class="options">Update Group Details</p></a>

  <h1> {{ GroupDetails.GroupID }} </h1>
  <h2><br> {{ GroupDetails.ProjectTitle }} </h2>
  <br>
  <p> {{ GroupDetails.ProblemStatement }} </p>
  <p>Team members: {% for member in GroupDetails.StudentList %} <br>{{ member.Grade }} {% endfor %}<br>
    TA List: {% for member in GroupDetails.StudentList %} <br>{{ member.SubmissionFile }} {% endfor %}</p>

{% endblock %}
