<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Speech Lab, IITG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'course:dashboard' %}">Courses</a>
        </li>

      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{sign_in_url}}">
            {% if username == '' %}
              Log in with Outlook
            {% else %}
              {{username}}
            {% endif %}
          </a>
        </li>
      </ul>

    </div>
  </nav>
    <form method="post" enctype="multipart/form-data" action="{% url 'discussion:events' CourseID %}">
      {% csrf_token %}
      <input type="text" name="Summary" placeholder="Summary" />
      <br>
      <input type="text" name="Location" placeholder="Location" />
      <br>
      <input name="Description" placeholder="Description" />
      <br>
      <input type='date' name="Start" placeholder="Start" />
      <br>
      <input type='date' name="End" placeholder="End" />
      <br>
      <input type="submit" value="Add Event">
    </form>

    <div id='DeleteEvents'>
        {% for event in events %}
            <p>{{event.summary}}<br>{{event.description}}<br>{{event.location}}<br>from {{event.start.dateTime}} to {{event.end.dateTime}}</p>
            <form method="post" enctype="multipart/form-data" action="{% url 'discussion:delete_event' CourseID event.id %}">
                {% csrf_token %}
                <input type="submit" value="Delete Event">
            </form>
        {% endfor %}
    </div>
</body>
</html>
