<!DOCTYPE html>
<html>
<head>
    <style>
    <meta charset="utf-8"/>
    p_noline {display: inline;
        margin-top: 3em;
        margin-bottom: 3em;
        margin-left: 3em;
        margin-right: 3em;}
        </style>
    </head>
    <body>
        <div id='DynamicMessages'>
        </div>
        <br>
        <p> Add a new message </p>
        <input id="chat-head-input" type="text" size="100"/><br/>
        <input id="chat-message-input" type="text" size="100"/><br/>
        <input id="chat-message-submit" type="button" value="Add message"/>
        <p> Add a new poll </p>
        <input id="poll-question-input" type="text" size="100"/><br/>
        <div id = "DynamicPollOption" > </div>
        <input id="poll-option-add" type="button" value="Add Poll Option"/>
        <input id="poll-option-del" type="button" value="Delete Last Option"/>
        <input id="poll-submit" type="button" value="Add Poll"/>
    </body>

    <script>
    var cntPoll = 0;
    var tempdata;
    var CourseGroupID = {{ CourseGroupID_json }};
    var CourseID = {{ CourseID_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/discussion/courses/'+ CourseID + '/coursegroup/' + CourseGroupID);
        // var chatSocket2;


        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            tempdata = JSON.parse(e.data);
            var IsPoll = data['IsPoll'];

            var ShowReply = data['ShowReply'];
            if (IsPoll == false){
                var IsReply = data['IsReply'];
                var MessageBox = document.createElement('p');
                var ReplyInput = document.createElement('input');
                var ReplyButton = document.createElement('input');
                var ShowReplies = document.createElement('input');
                var MessageDiv = document.createElement('div');
                if (IsReply == false){
                    var messageHead = data['messageHead'];
                    var message = data['message'];
                    var ReplyBody = data['ReplyBody'];
                    var MessageID = data['MessageID'];
                    var Author=data['Author'];
                    var open = false;

                    MessageDiv.id = MessageID;
                    MessageBox.setAttribute("style","display: inline");
                    MessageBox.innerHTML = messageHead + ': ' + message;

                    ReplyInput.type = 'text';
                    ReplyInput.id = MessageID+'_input';
                    ReplyButton.type = 'button';
                    ReplyButton.setAttribute("style", "margin-left: 2em");
                    ReplyButton.value = 'Reply';
                    ReplyButton.onclick = function(){
                        // alert(MessageID);
                        var Rep = document.getElementById(MessageID+'_input').value;
                        if (Rep == ""){
                            alert('Cannot send empty reply');
                            return;
                        }
                        chatSocket.send(JSON.stringify({
                            'IsPoll' : false,
                            'IsReply': true,
                            'ShowReply': false,
                            'messageHead' : '',
                            'message': '',
                            'CourseID': CourseID,
                            'CourseGroupID': CourseGroupID,
                            'ReplyBody': Rep,
                            'MessageID': MessageID,
                        }));
                        ReplyInput.value = ""
                    };
                    ReplyButton.id = MessageID+'_ReplyButton';

                    ShowReplies.type = 'button';
                    ShowReplies.id=MessageID+'_';
                    ShowReplies.setAttribute("style", "margin-left: 2em");
                    ShowReplies.value = 'Show Replies';
                    ShowReplies.onclick = function(){
                        if (open == false){
                            open = true;
                            ShowReplies.value = 'Hide Replies';
                            // chatSocket2 = new WebSocket('ws://' + window.location.host +
                            //   '/ws/discussion/courses/'+ CourseID + '/coursegroup/' +
                            //   CourseGroupID + '/' + MessageID);
                            chatSocket.send(JSON.stringify({
                                'IsPoll' : false,
                                'ShowReply': true,
                                'CourseID': CourseID,
                                'CourseGroupID': CourseGroupID,
                                'MessageID': MessageID,
                            }));
                            // alert('after cht ckt 2');
                        }
                        else {
                            open = false;
                            ShowReplies.value='Show Replies';
                            document.getElementById(MessageID+'_ShowReplyBox').remove();
                        }
                    };

                    MessageDiv.appendChild(MessageBox);
                    MessageDiv.appendChild(ShowReplies);
                    MessageDiv.appendChild(document.createElement('p'));
                    // MessageDiv.appendChild(document.createElement('br'))
                    MessageDiv.appendChild(ReplyInput);
                    MessageDiv.appendChild(ReplyButton);
                    MessageDiv.appendChild(document.createElement('p'));
                    // MessageDiv.appendChild(document.createElement('p'))

                }
                // Displaying replies to messages
                else{
                    if(ShowReply==true){
                        var ShowReplyBox=document.createElement('p');
                        var msg='';
                        var i=0
                        for(i=0;i<data['Replies'].length;i++){
                            msg=msg+'<br />'+data['Replies'][i]['Author']+':'+data['Replies'][i]['ReplyBody'];
                        }
                        ShowReplyBox.innerHTML=msg;
                        if(data['Replies'].length>0){
                            ShowReplyBox.id=data['Replies'][0]['MessageID']+'_ShowReplyBox';
                            document.getElementById(data['Replies'][0]['MessageID']+'_').parentNode.insertBefore(ShowReplyBox,document.getElementById(data['Replies'][0]['MessageID']+'_').nextSibling);
                            //document.getElementById('chat-head-input').blur();
                            //document.getElementById('chat-message-input').blur();
                            //document.getElementById(data['Replies'][0]['MessageID']+'_').scrollIntoView();

                        }

                    }
                    if(ShowReply==false && document.getElementById(data['MessageID']+'_').value=='Hide Replies'){
                        document.getElementById(data['MessageID']+'_ShowReplyBox').innerHTML+='<br />'+data['Author']+':'+data['ReplyBody'];
                    }
                }
                document.getElementById("DynamicMessages").appendChild(MessageDiv);
            }
            // Displaying polls
            else{
                var ShowReply = data['ShowReply'];
                if (ShowReply == false){
                    var Author = data['Author'];
                    var MessageID = data['MessageID'];
                    var PollQues = data['PollQues'];
                    var PollDiv = document.createElement('form');

                    var open = false;

                    var PollQuesBox = document.createElement('p');
                    var ShowOptions = document.createElement('input');
                    var SubmitVote = document.createElement('input');

                    PollDiv.id = MessageID;
                    PollQuesBox.setAttribute("style","display: inline");
                    PollQuesBox.innerHTML = PollQues;

                    SubmitVote.type = 'button';
                    SubmitVote.id = MessageID + '_Vote';
                    SubmitVote.setAttribute("style", "margin-left: 2em");
                    SubmitVote.value = 'Submit Vote';
                    SubmitVote.onclick = function(){
                        if (open == false){
                            return;
                        }
                        var SelOpt = document.getElementById(MessageID).elements[MessageID].value;
                        if (SelOpt == ""){
                            alert('No option selected');
                            return;
                        }
                        chatSocket.send(JSON.stringify({
                            'IsPoll' : true,
                            'IsReply' : true,
                            'ShowReply': false,
                            'CourseID': CourseID,
                            'CourseGroupID': CourseGroupID,
                            'MessageID': MessageID,
                            'UserOpt' : SelOpt,
                        }));
                        alert('Successfully Voted! View options again to see your vote')
                    }


                    ShowOptions.type = 'button';
                    ShowOptions.id = MessageID+'_';
                    ShowOptions.setAttribute("style", "margin-left: 2em");
                    ShowOptions.value = 'Show Options';
                    ShowOptions.onclick = function(){
                        if (open == false){
                            open = true;
                            ShowOptions.value = 'Hide Options';
                            chatSocket.send(JSON.stringify({
                                'IsPoll' : true,
                                'ShowReply': true,
                                'CourseID': CourseID,
                                'CourseGroupID': CourseGroupID,
                                'MessageID': MessageID,
                            }));
                            document.getElementById(MessageID).focus();

                            // alert('after cht ckt 2');
                        }
                        else {
                            open = false;
                            ShowOptions.value='Show Options';
                            // for (i=0; i<PollOptFull.length; i++){
                            var i=0;
                            do{
                                document.getElementById(MessageID+'_Poll'+i).remove();
                                i = i + 1;
                            }while(document.getElementById(MessageID+'_Poll'+i) != undefined)
                            document.getElementById(MessageID).focus();
                            // }
                        }
                    };
                    PollDiv.appendChild(PollQuesBox);
                    PollDiv.appendChild(ShowOptions);
                    PollDiv.appendChild(SubmitVote);
                    PollDiv.appendChild(document.createElement('p'));
                    document.getElementById("DynamicMessages").appendChild(PollDiv);
                }
                else{
                    var MessageID = data['MessageID'];
                    var PollDiv = document.getElementById(MessageID);
                    var PollOptFull = data['PollOpt'];
                    var PollCntFull = data['PollCnt'];
                    var UserOpt = data['UserOpt'];
                    var i=0;
                    for (i=0; i<PollOptFull.length; i++){
                        // PollOptDiv = document.createElement('div');
                        var PollOptDiv = document.createElement('div');
                        var PollOpt = document.createElement('p');
                        var Opt = document.createElement('input');

                        PollOptDiv.id = MessageID + '_Poll' + i;

                        Opt.type = 'radio';
                        Opt.name = MessageID;
                        Opt.value = i;
                        if (UserOpt == i)
                            Opt.checked = true;

                        PollOpt.innerHTML += PollCntFull[i] + ' votes: ' + PollOptFull[i];
                        PollOpt.setAttribute("style", "display: inline");

                        PollOptDiv.append(Opt)
                        PollOptDiv.appendChild(PollOpt);
                        PollOptDiv.appendChild(document.createElement('br'));
                        PollDiv.appendChild(PollOptDiv);
                    }

                }
            }

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                var messageHeadDom = document.querySelector('#chat-head-input');
                var messageInputDom = document.querySelector('#chat-message-input');
                var messageHead = messageHeadDom.value;
                var message = messageInputDom.value;
                if (message == "" || messageHead == ""){
                    alert("Empty message field or body!");
                    return;
                }
                chatSocket.send(JSON.stringify({
                    'IsPoll' : false,
                    'IsReply': false,
                    'ShowReply': false,
                    'messageHead' : messageHead,
                    'message': message,
                    'CourseID': CourseID,
                    'CourseGroupID': CourseGroupID,
                    'ReplyBody': '',
                    // 'MessageID': MessageID,
                }));
                alert('New message added successfully!');
                messageHeadDom.value = '';
                messageInputDom.value = '';
            };


        };

        document.querySelector('#poll-option-add').onclick = function(e) {
            cntPoll += 1;
            var PollOption = document.createElement('div');
            var PollOptionNum = document.createElement('p');
            var PollOptionInput = document.createElement('input');

            PollOptionNum.setAttribute("style", "display: inline");
            PollOptionNum.innerHTML = 'Option ' + cntPoll.toString() + ':  ';

            PollOptionInput.id = 'poll-option-input' + cntPoll.toString();

            PollOption.id = 'poll-option' + cntPoll.toString();
            PollOption.appendChild(PollOptionNum);
            PollOption.appendChild(PollOptionInput);
            PollOption.appendChild(document.createElement('br'));
            document.getElementById('DynamicPollOption').appendChild(PollOption);
        }

        document.querySelector('#poll-option-del').onclick = function(e) {
            if (cntPoll < 1){
                alert('No poll option to delete!');
                return;
            }
            var elt = document.getElementById('poll-option' + cntPoll.toString());
            elt.parentNode.removeChild(elt);
            cntPoll -= 1;
        }

        document.querySelector('#poll-submit').onclick = function(e) {
            if (cntPoll < 2){
                alert('Not enough options to submit');
                return;
            }
            var pollQuesDom = document.querySelector('#poll-question-input');
            var pollQues = pollQuesDom.value;
            if (pollQues == ""){
                alert("Poll Question cannot be empty!");
                return;
            }
            var pollJSON = {
                'IsPoll' : true,
                'IsReply': false,
                'ShowReply': false,
                'CourseID': CourseID,
                'CourseGroupID': CourseGroupID,
                'PollQues': pollQues,
                // 'PollOptNum' cntPoll,
                'PollOptions':[]
            }
            var i;
            for (i=1; i<=cntPoll; i+=1){
                if (document.getElementById('poll-option-input' + i.toString()).value == ""){
                    alert("Poll option cannot be empty");
                    return;
                }
            }
            for (i=1; i<=cntPoll; i+=1){
                var pollOptFull = document.getElementById('poll-option' + i.toString());
                var pollOptDom = document.getElementById('poll-option-input' + i.toString());
                // var newOption ='PollOption' + i.toString();
                var newOptionVal = pollOptDom.value;
                pollJSON.PollOptions.push(newOptionVal);
                pollOptFull.parentNode.removeChild(pollOptFull);
            }
            cntPoll = 0;
            pollQuesDom.value = '';
            chatSocket.send(JSON.stringify(pollJSON));
        }

    </script>
    </html>
