<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Speech Lab, IITG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'course:dashboard' %}">Courses</a>
        </li>

      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{sign_in_url}}">
            {% if username == '' %}
              Log in with Outlook
            {% else %}
              {{username}}
            {% endif %}
          </a>
        </li>
      </ul>

    </div>
  </nav>
  <div class="container">
  <h1><center>{{title}} Notice Board</center></h1>
  {% for notice in all_notice %}
      <div class="bg-success">
      <h3><center>{{notice.NoticeHead}}</h3>
      <p>{{notice.NoticeBody}}</p>
      <p align="right">By:  {{notice.Author}}  {{notice.NoticeTime}}</p>
      </div>
  {% endfor %}
  <br>
  <br>
  {% if Designation == 'Faculty' %}
  <form  name="myForm" method="post" onsubmit="return validateForm()" enctype="multipart/form-data" action="noticeboard/addnotice">
    <div class="form-group">
    {% csrf_token %}
    <input type="text" name="NoticeHead" class="form-control" placeholder="Notice Heading" />
    <br>
    <textarea rows="10" name="NoticeBody" class="form-control" placeholder="Notice Body" /></textarea>
    <br>
    <input type="submit" value="Add Notice">
  </div>
  </form>
  {% endif %}
  </div>

  <script>
    function validateForm() {
        if(document.forms["myForm"]["NoticeHead"].value.trim() == ""){
            alert ("Empty Message Head!")
            return false;
        }
        if(document.forms["myForm"]["NoticeBody"].value.trim() == ""){
            alert ("Empty Message Body!")
            return false;
        }
    }
  </script>
</body>
